<tr>
  <td>
    <%= image_tag image.tiny %>
  </td>
  <td>
    <%= name %>
  </td>
  <td>
    <%= description %>
  </td>
  <td>
    <%= humanized_money_with_symbol unit_price %>
  </td>
  <td>
    <%= quantity %>
  </td>
  <td>
    <%= humanized_money_with_symbol total_price %>
  </td>
</tr>
